<section class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20%">Name</th>
                <th style="width: 50%">Description</th>
                <th style="width: 20%">Last Update</th>
                <th style="width: 5%">Active</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tr *ngFor="let category of categoryList">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{{category.updated | date: 'medium'}}</td>
            <td><i [ngClass]="getStatusElementCss(category)"></i></td>
            <td class="text-right">
                <a class="text-stjorna" routerLink="/category/view/{{category._id}}" routerLinkActive="active">
                    <i class="edit-product fa fa-2x fa-cogs"></i>
                </a>
            </td>
        </tr>
    </table>
    <p *ngIf="categoryList.length === 0" class="text-center">
        Unfortunately you can't see something at the moment. Just add products and categories on the left side.
    </p>
</section>