<main class="bg-dark">
    <section class="container">
        <div class="text-center login-logo">
            <img src="../../public/assets/stjorna_middle_compressor.png"><br>
        </div>
        <form #loginForm="ngForm" class="form-signin">
            <!-- <h1 class="h3 font-weight-normal">Please sign in</h1><br> -->
            <input type="text" id="inputUsername" class="form-control" [(ngModel)]="login.username" name="username" required autofocus>
            <small class="form-text text-muted" for="category">Username</small><br>
            <input type="password" id="inputPassword" class="form-control" [(ngModel)]="login.password" name="password" required>
            <small class="form-text text-muted" for="category">Password</small><br>
            <button class="btn btn-stjorna btn-block" type="submit" 
                [disabled]="!loginForm.valid"
                (click)="performLogin(login)">Sign in
            </button>
        </form>
    </section>
</main>